.header {
background-color: rgb(160, 156, 156);
padding: 15px;
}

.body {
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
margin: 0, auto;
padding: 0;
background-color: rgb(214, 211, 205);
}

.h1 {
margin-left: 30px;
}

.h2 {
margin-left: 15px;
font-size: 18px;
}

A:visited {
color: black;
}

.navigation {
display: block;
}

.navigation_list {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
flex-direction: row;
list-style: none;
margin: auto;
}

.typenone {
list-style-type: none;
padding: 0;
margin: 0;
}

.footer {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
font-weight: bold;
margin: auto;
padding: 15px;
background-color: rgb(160, 156, 156);
}
